@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

:root {
  --off-white: hsl(36, 100%, 99%);
  --dark-gray-blue: hsl(236, 13%, 42%);
  --dark-blue: hsl(240, 100%, 5%);
  --soft-red: hsl(5, 85%, 63%);
  --soft-orange: hsl(35, 77%, 62%);
  --gray-blue: hsl(233, 8%, 79%);
}


body {
  background-color: var(--off-white);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2.5rem 1rem;
  min-height: 100dvh;
}

@media (min-width: 768px) {
  body {
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 1280px) {
  body {
    padding: 2.5rem 8rem;
  }
}